.vpp-container {
  margin-top: 4rem;
  padding-bottom: 4rem;
  border: .5px solid red;
}

/*  LEFT PANE  */
.pane-left {
  padding-top: 1rem;
  border: .5px solid green;
}

.pane-left h1, .mobile-pane-left h1 {
  text-transform: capitalize;
}

.mobile-pane-left {
  display: none;
  padding-left: 16px;
}

.dropdown-divider {
  border: 1px solid var(--background-tertiary);
}

 .thread-post-links ul {
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
.post-links:hover {
  text-decoration: none;
}

/*  RIGHT PANE  */
.pane-right {
  padding-top: 1rem;
  border: .5px solid yellow;
}

@media (max-width: 960px) {
  .vpp-container {
    margin-top: 2rem;
  }
  
  .pane-left {
    display: none;
  }

  .mobile-pane-left {
    display: inline-block;
    padding: 0px 16px;
    min-width: 100%;
  }

  .pane-right {
    min-width: 100%;
  }
}