.vpp-container {
  margin-top: 5rem;
  padding-bottom: 2rem;  
  display: inline-grid;
  grid-template-columns: 1fr 2fr 1fr;
  
  /* margin-right: 5rem; */
  /* margin-left: -5rem; */
}

.vpp-pane-left {
  border: .5px solid green;
  /* margin-left: 100px; */
}

.vpp-pane-right {
  border: .5px solid yellow;
  min-width: 850px;
}
.vpp-pane-right-right {
  border: .5px solid yellow;
}


.dropdown-divider {
  border: 1px solid var(--background-tertiary);
}



.pane-left h1, .mobile-pane-left h1 {
  text-transform: capitalize;
}

/* .mobile-pane-left {
  display: none;
  padding-left: 16px;
} */



 .thread-post-links ul {
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
.post-links:hover {
  text-decoration: none;
}





@media (max-width: 960px) {
  .vpp-container {
    margin-top: 2rem;
  }
  
  .pane-left {
    display: none;
  }

  .mobile-pane-left {
    display: inline-block;
    padding: 0px 16px;
    min-width: 100%;
  }

  .pane-right {
    min-width: 100%;
  }
}